<zeo>
  address localhost:8090
</zeo>

<filestorage>
  path /Users/juandanielojedacaceres/Documents/Paradigmas/ProSoft/Data.fs
</filestorage>

<eventlog>
  <logfile>
    path /Users/juandanielojedacaceres/Documents/Paradigmas/ProSoft/zeo.log
    format %(asctime)s %(message)s
  </logfile>
</eventlog>

